<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tarefas</title>
</head>

<body>

    <h1>Lista de <%= tipoDeDia %> !</h1>

    <ul>
        <li>Comer muuito</li>
        <!-- <li> <%= itemNovo %> </li> -->
        <% for(i=0; i<(itemNovo.length); i++){ %>
           <li> <%= itemNovo[i] %> </li>
        <% } %>

    </ul>

    <form action="/" method="post">
        <input type="text" name="atividade">
        <button type="submit">Adicionar</button>
    </form>
</body>

</html>