<%- include('header'); -%>
<div class="box" id="heading">
    <h1>Lista de <%= nomeDaLista %></h1>
</div>
<div class="box">
    <% for(i=0; i<(itemNovo.length); i++){ %>
    <div class='item'>
        <input type="checkbox">
        <p> <%= itemNovo[i] %> </p>
    </div>
    <% } %>

    <form action="/" method="post" class='item'>
        <input type="text" name="atividade" placeholder='Novo item' autocomplete="off">
        <button type="submit">+</button>
    </form>

</div>

<%- include('footer'); -%>